<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="Keywords" content="loan,loans,loan india,loans india,current loan rates india,loan calculator india,best loans india,best loan rates,cheapest loans india,credit cards,insurance">
      <meta name="Description" content="Compare and Apply for Best Loans, Credit Cards, Insurance in India: Apply Lowest Interest Rates, Fast and Flexible Online Loan and Credit Cards. Free Credit Test, Instant Approval, Quick Disbursal. Apply now!">

      <link rel="icon" href="https://bankboss.app/favicon.ico">
      <title>BankBoss App - Online Instant Personal Loan,Credit Card Score</title>
      <style type="text/css">
         html,body{
         width: 100%;
         margin: 0;
         padding: 0;
         }
         .loan-pc{width: 100%;}
         .loan-pc .header{
         height: 70px;
         background-color: #294fda;
         border-bottom: 3px solid #284ddb;
         }
         .loan-pc .header img{
         margin-top: 11px;
         }
         .loan-pc .header .cont{
         background-color: #294fda;
         }
         .loan-pc .banner{
         height: 530px;
         background: url('/p11.png') center center no-repeat;
         background-size: cover;
         border-top: 2px solid #2b51df;
         }
         .loan-pc .banner .cont{
         position: relative;
         }
         .loan-pc .step .cont{
         height: 360px;
         background: url('/p22.png') center center no-repeat;
         background-size: cover;
         }
         .loan-pc .about{
         margin-top: -17px;
         background-color: #fffaee;
         }
         .loan-pc .about .cont{
         height: 640px;
         background: url('/p3.png') center center no-repeat;
         background-size: cover;
         }
         .loan-pc .about .txt{
         padding-left: 480px;
         padding-top: 56px;
         }
         .cont{
         margin: 0 auto;
         width: 1120px;
         height: 100%;
         }
         .p1{font-size: 30px;}
         .p2,.p3{padding-top:10px;font-size: 14px;line-height: 25px;}
         .loan-pc .footer{
         width: 100%;
         box-sizing: border-box;
         background-color: #292c37;
         border-bottom: 1px solid #1b1e28;
         }
         .loan-pc .footer .cont{
         padding-top: 30px;
         padding-bottom: 30px;
         background-color: #292c37;
         }
         .loan-pc .footer .table-row{
         display: inline-block;
         width: 24.5%;
         vertical-align: top;
         color: #c7cad6;
         font-size: 15px;
         }
         .loan-pc .footer .table-row-item{
         line-height: 42px;
         text-align: left;
         padding-left: 40px;
         }
         .loan-pc .footer .table-row-item a{
         text-decoration: none;
         color: #c7cad6;
         }
         .loan-pc .flag{
         background-color: #292c37;
         border-top: 1px solid #313543;
         color: #747886;
         }
         .loan-pc .flag .cont{
         height: 70px;
         line-height: 70px;
         text-align: center;
         background-color: #292c37;
         }
         .pic_down{
         position: absolute;
         cursor: pointer;
         left: 15px;
         top: 360px;
         }
         .pic_down2{
         float: right;
         margin-top: 15px;
         cursor: pointer;
         }
         @media screen and (max-width: 1120px) {
         .loan-pc .header{
         border-bottom: 0;
         }
         .loan-pc .header .cont{
         border-bottom: 3px solid #284ddb;
         }
         .loan-pc .banner{
         border-top: 0;
         background: none;
         }
         .loan-pc .banner .cont{
         background: url('/p11.png') center center no-repeat;
         background-size: cover;
         border-top: 2px solid #2b51df;
         }
         .loan-pc .footer{
         border-bottom: 0;
         }
         .loan-pc .footer .cont{
         border-bottom: 1px solid #1b1e28;
         }
         .loan-pc .flag{
         border-top: 0;
         }
         .loan-pc .flag .cont{
         border-top: 1px solid #313543;
         }
         }
      </style>
   </head>
   <body>
      <div class="loan-pc">
         <div class="header">
            <div class="cont"><img src="/logo.png" /><span style="color:white;">BankBoss App</span></div>
         </div>
         <div class="banner">
            <div class="cont">
               <a class="pic_down" href="https://play.google.com/store/apps/details?id=com.bankboss.app"><img src="/gplay_download.png" /></a>
            </div>
         </div>
         <div class="step">
            <div class="cont"></div>
         </div>
         <div class="about">
            <div class="cont">
               <div class="txt">
                  <p class="p1">About BankBoss App</p>
                  <p class="p2">BankBoss App provides the latest and most popular low interest rate cash loan products on the market. Here, you can always see the latest and fast credit loan products, as well as the official loan details, so that you can fast choose the product that suits you. BankBoss evaluates the user's credit based on big data and selects offers the mostsuitable loan product or credit card products &amp; services for users through intelligent matching.
                  </p>
                  <p class="p3">
                    BankBoss App gets updated on regular intervals so that users can get better information regarding Personal Loans, Credit Cards, Insurance Services, Saving accounts and finance News and many more other Services.
                    <br>Address: H.NO. 9 FF, HB COLONY, SEC 48, GURUGRAM Haryana 122001, India
                  </p>
               </div>
            </div>
         </div>
         <div class="footer">
            <div class="cont">
               <div class="table-row">
                  <div class="table-row-item">Products</div>
                  <!-- <div class="table-row-item">Home Loans</div> -->
                  <div class="table-row-item">Personal Loans</div>
                  <!-- <div class="table-row-item">Education Loans</div>
                     <div class="table-row-item">SME Business Loans</div>
                     <div class="table-row-item">Two Wheeler Loans</div> -->
               </div>
               <div class="table-row">
                  <div class="table-row-item">Policies</div>
                  <div class="table-row-item"><a href="privacy-policy.html">Privacy Policy</a></div>
                  <div class="table-row-item"><a href="terms-conditions.html">Terms &amp; Conditions</a></div>
                  <div class="table-row-item">FAQs</div>
               </div>
               <div class="table-row">
                  <div class="table-row-item">Contact Us</div>
                  <div class="table-row-item"><a href="mailto:bankbossapp@gmail.com">bankbossapp@gmail.com</a></div>
                  <div class="table-row-item"><img src="/icon.png"></div>
               </div>
               <div class="table-row">
                  <a class="pic_down2" href="https://play.google.com/store/apps/details?id=com.bankboss.app"><img src="/gplay_download.png"></a>
               </div>
            </div>
         </div>
         <div class="flag">
            <div class="cont">©BankBoss App. All rights reserved.</div>
         </div>
      </div>
   </body>
</html>
